In [4]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt


data = pd.read_csv('C://Users//User//Desktop//Maxence//Travail et Ecoles//Centrale Nantes//Cours//EI2//INFO SI//PAPPL//pappl//Fichiers_csv//communes-departement-region.csv', sep = ',')

In [5]:
data

,code_commune_INSEE,nom_commune_postal,code_postal,latitude,longitude
0,1001,L ABERGEMENT CLEMENCIAT,1400,46.153426,4.926114
1,1002,L ABERGEMENT DE VAREY,1640,46.009188,5.428017
2,1004,AMBERIEU EN BUGEY,1500,45.960848,5.372926
3,1005,AMBERIEUX EN DOMBES,1330,45.996180,4.912273
4,1006,AMBLEON,1300,45.749499,5.594320
...,...,...,...,...,...
39196,98831,VOH,98883,NaN,NaN
39197,98832,YATE,98834,NaN,NaN
39198,98833,KOUAOUA,98818,NaN,NaN
39199,98901,ILE DE CLIPPERTON,98799,NaN,NaN
39200,99138,MONACO,98000,NaN,NaN